services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DB_USERNAME: service_user
      DB_PASSWORD: user123456
      MYSQL_DATABASE: bank
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: bank
      MYSQL_USER: service_user
      MYSQL_PASSWORD: user123456
      MYSQL_ROOT_PASSWORD: 7878admin
    ports:
      - "13306:3306"
    volumes:
      - db-vol:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-u", "service_user", "-puser123456"]
      interval: 5s
      timeout: 5s
      retries: 10
  redis:
    image: redis:7.0
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 512M
volumes:
  db-vol:
  redis_data:
